<launch>
  <param name="/caros/workcell" value="/mnt/hgfs/DATA/Data/ACAT/scene-1/ACAT-IASSES/iasses_gantry_robotiq.wc.xml"/>

  <group >
  	<!-- start the dummy joint state emitter -->
  	<node name="caros_dummy_jointstate" pkg="caros_grasp_selection" type="dummyRobotState.py" respawn="false" output="screen">
	</node>
  	
  
	<!-- start the robworkcell nodes -->
	<node name="robworkcell" pkg="caros_grasp_selection" type="robworkcell" respawn="false" output="screen">
		<param name="UR_6_85_5_A" value="/joint_states"/>
	</node>

	
  </group>
</launch>
