<launch>
  <!-- Hackish solution to let the user easily spawn a "standalone" caros_robotiq3 node -->

  <group>
    <include file="$(find caros_robotiq)/launch/caros_robotiq3_param.xml">
      <!-- no parameters have to be set - relying on default values -->
    </include>
    <node pkg="caros_robotiq" type="caros_robotiq3_node" name="robotiq3">
    </node>
  </group>
</launch>
